/* MOBILE, TABLET, > PC LOW RESOLUTION */
@media (max-width: 77.4375em) {
    .header__search-wrap {
        align-self: center;
        margin: 0;
    }

    .recommend__list {
        display: none;
    }

    .footer__list-wrap {
        padding-bottom: 0;
    }

    .footer-nation-copyright {
        display: none;
    }
}

/* > PC LOW RESOLUTION */
@media (min-width: 64em) and (max-width: 77.4375em) {
    .header__cart-wrap {
        margin-top: 6px;
    }
    
    .cart-list {
        top: calc(100% - 3px);
    }
    
    .sidebar-store__time-online {
        white-space: nowrap;
    }
    
    .category__title {
        white-space: nowrap;
    }

    .footer__container {
        padding: 12px 20px 42px 20px;
    }
}

/* MOBILE AND TABLET */ 
@media (max-width: 63.9375em) {
    :root {
        --header-height: 68px;
        --navigation-height: 0px;
        --header-have-search: calc(var(--header-height) - var(--navigation-height));
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .tablet-mobile-sortbar {
        display: flex;
    }

    .cart-list {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
        transform-origin: unset ;
        transform: unset;
        transition: unset;
        display: none;
        border-radius: unset;
        animation: appearSlowly ease 0.3s;
        -webkit-animation: appearSlowly ease 0.3s;
        /* -webkit-animation-name: appearSlowly;
        -webkit-animation-timing-function: ease;
        -webkit-animation-duration: 0.3s; */
        -moz-animation: appearSlowly ease 0.3s;
        -o-animation: appearSlowly ease 0.3s;
        will-change: opacity;
    }

    .header__cart:hover .cart-list {
        opacity: unset;
        transform: unset;
        display: block;
    }

    .cart-list::before {
        display: none;
    }

    .cart-list::after {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
    }

    .cart-item:hover {
        border-radius: 4px;
    }
    
    .cart-item__remove {
        font-size: 1.8rem;
    }

    .content {
        margin-top: calc(var(--header-height) + var(--tablet-mobile-sortbar-height));
    }

    .content__container {
        padding: 8px 0 42px;
    }

    .footer__container {
        padding: 12px 8px 0;
    }

    .footer__item,
    .footer__social-item {
        margin-top: 0;
        padding: 10px 0;
    }

    .footer__item:first-child,
    .footer__social-item:first-child {
        margin-top: 4px;
    }

    .footer__qr-code-image {
        width: 100px;
        height: 100px;
    }

    .footer__download {
        margin-top: 12px;
    }

    .footer__apps-link {
        padding: 8px 0;
    }

    .footer__apps-link:nth-child(2) {
        margin: 0;
    }

    .footer-bottom {
        padding: 16px 0;
    }

    .footer-bottom__header,
    .footer-bottom__body {
        display: none;
    }

    .footer-addition__text:not(:last-child)  {
        display: none;
    }
}

/* TABLET */ 
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .hide-on-tablet {
        display: none;
    }

    .header__search {
        position: relative;
    }

    .header__search-input-wrap {
        position: unset;
    }

    .search-history {
        width: 100%;
    }

    .header__cart-wrap {
        width: 80px;
        justify-content: flex-end;
    }
}

/* MOBILE */
@media (max-width: 46.1875em) {
    :root {
        --header-height: 60px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header {
        padding: 0 12px 0 6px;
    }

    .header-have-search {
        align-items: center;
        position: relative;
    }

    .mobile-search__icon-wrap {
        display: block;
        margin-top: 8px;
    }

    .header__search-input {
        padding: 8px;
    }

    .header__logo {
        width: unset;
        display: block;
        line-height: 0;
    }

    .header__logo-image {
        width: 110px;
    }

    .header__search-input-wrap {
        position: unset;
    }

    .search-history {
        top: calc(100% + 1px);
        left: 0;
        right: 0;
        width: unset;
        border-radius: unset;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
    }

    .select-options__list {
        top: calc(100% + 6px);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25)
    }

    .header__search-button {
        width: 54px;
        margin: 0 3px 0 0;
        border-radius: 4px;
    }

    .header__cart-wrap {
        width: unset;
        position: relative;
        top: 2px;
    }

    .header__cart-icon-wrap {
        margin: 6px 8px 0 0;
    }

    .header__cart-quantity-item {
        top: 6px;
        right: 4px;
        padding: unset;
        text-align: center;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-list__body::-webkit-scrollbar {
        width: 4px;
    }
    
    .cart-list__header {
        padding: 13px 14px;
    }

    .moblie-category {
        display: block;
    }

    .cart-item {
        padding: 12px 14px;
    }  

    .content__container {
        padding: 8px 8px 42px;
    }

    .product-item-wrap {
        margin-top: 8px;
    }

    .pagination-item {
        margin: 0 5px;
    }

    .pagination-item__link {
        --height: 28px;
        min-width: 36px;
        font-size: 1.6rem;
    }

    .footer__title  {
        text-align: center;
    }

    .footer__item-link,
    .footer__download {
        justify-content: center;
        text-align: center;
    }

    .footer__social-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}